<%########## Sun and Coronas ############# %>

<%= image_tag("sun_moon.png", class: "centered", id: "sun") %>

<div id="corona1_div" class="corona_divs centered">
	<%= image_tag("corona.png", { name: "music", class: "coronas" } ) %>
</div>

<div id="corona2_div" class="corona_divs centered">
	<%= image_tag("corona_blue.png", { name: "business", class: "coronas" } ) %>
</div>

<div id="corona3_div" class="corona_divs centered">
	<%= image_tag("corona_grn.png", { name: "philosophy", class: "coronas" } ) %>
</div>

<div id="corona4_div" class="corona_divs centered">
	<%= image_tag("corona_purp.png", { name: "program", class: "coronas" } ) %>
</div>

<div id="corona5_div" class="corona_divs centered">
	<%= image_tag("corona_red.png", { name: "web", class: "coronas" } ) %>
</div>

<div id="corona6_div" class="corona_divs centered">
	<%= image_tag("corona_teal.png", { name: "me", class: "coronas" } ) %>
</div>


<%################ Key ################ %>

<div id="key-main_wrapper">
	<div class="key_line" id="key_line_music">
		<p><b> </b></p>
		Musical Tidbits
	</div>
	<div class="key_line" id="key_line_blue_business">
		<p><b> </b></p>
		Business Templates
	</div>
	<div class="key_line" id="key_line_grn_philosophy">
		<p><b> </b></p>
		Philosophical Musings
	</div>
	<div class="key_line" id="key_line_purp_program">
		<p><b> </b></p>
		Computer Language
	</div>
	<div class="key_line" id="key_line_red_web">
		<p><b> </b></p>
		My History of Web Design
	</div>
	<div class="key_line" id="key_line_teal_me">
		<p><b> </b></p>
		What goes here???
	</div>
</div>