---
interface Props {
    title: string;
    imgSrc: string;
    href: string;
    description: string;
}

const { title, imgSrc, href, description } = Astro.props;
---

<li class="rounded-md overflow-hidden hover:bg-gray-700 max-w-sm bg-gray-800 shadow-lg list-none transition-colors duration-200">
    <a href={href} target="_blank" class="block no-underline">
        <h3 class="text-lg font-semibold mb-2 text-white p-3">{title}</h3>
        <img src={imgSrc} alt={title} class="w-full h-48 object-cover p-3" />
        <p class="text-gray-400 text-sm p-3">{description}</p>
    </a>
</li>
