<div id="business" class="stagers">
	<h2>Business Templates</h2>
	<p><%= link_to("Grunge", "http://www.aaronik.com/Grunge/index.html") %></p>
	<p><%= link_to("School", "http://www.aaronik.com/School/site/index.html") %></p>
	<p>@client_ip = <%= @client_ip %></p>
	<p>@remote_ip = <%= @remote_ip %></p>
	<p>@my_ip = <%= @my_ip %></p>
	<p>@ip_addr = <%= @ip_addr %></p>
</div>
