
<div id="ap_iframe_wrapper" class="program_iframe_wrapper">
	<iframe id="ap_iframe" class="program_iframes" srcdoc="<pre><%= @ap %></pre>">your browser no iframe</iframe>
</div>
<div id="sm_iframe_wrapper" class="program_iframe_wrapper">
	<iframe id="sm_iframe" class="program_iframes" srcdoc="<pre><%= @sm %></pre>">your browser no iframe</iframe>
</div>
<div id="darp_iframe_wrapper" class="program_iframe_wrapper">
	<iframe id="darp_iframe" class="program_iframes" srcdoc="<pre><%= @darp %></pre>">your browser no iframe</iframe>
</div>
<div id="dict_iframe_wrapper" class="program_iframe_wrapper">
	<iframe id="dict_iframe" class="program_iframes" srcdoc="<pre><%= @dict %></pre>">your browser no iframe</iframe>
</div>
<div id="ips_iframe_wrapper" class="program_iframe_wrapper">
	<iframe id="ips_iframe" class="program_iframes" srcdoc="<pre><%= @ips %></pre>">your browser no iframe</iframe>
</div>
<div id="kn_iframe_wrapper" class="program_iframe_wrapper">
	<iframe id="kn_iframe" class="program_iframes" srcdoc="<pre><%= @kn %></pre>">your browser no iframe</iframe>
</div>
<div id="trix_iframe_wrapper" class="program_iframe_wrapper">
	<iframe id="trix_iframe" class="program_iframes" srcdoc="<pre><%= @trix %></pre>">your browser no iframe</iframe>
</div>
<div id="webscan_iframe_wrapper" class="program_iframe_wrapper">
	<iframe id="webscan_iframe" class="program_iframes" srcdoc="<pre><%= @webscan %></pre>">your browser no ifram</iframe>
</div>
<div id="webscano_iframe_wrapper" class="program_iframe_wrapper">
	<iframe id="webscano_iframe" class="program_iframes" srcdoc="<pre><%= @webscano %></pre>">your browserno ifra</iframe>
</div>