<div id="music" class="stagers">
	<h2>Musical Tidbits</h2>			
	<p>
		iPad / late 2011 - "Meditation Alarm"
		<%= audio_tag("Meditation Alarm.mp3", "audio_backup.mp3", controls: true, preload: "metadata", autobuffer: true ) %>
	</p>
	<p>
		lmms / early 2013 - "The Jolly Space Man"
		<%= audio_tag("The Jolly Space Man.ogg", "audio_backup.mp3", controls: true, preload: "metadata", autobuffer: true ) %>
	</p>
	<p>
		lmms / early 2013 - "A Study on Bells"
		<%= audio_tag("A Study on Bells.ogg", "audio_backup.mp3", controls: true, preload: "metadata", autobuffer: true ) %>
	</p>
	<p>	
		lmms / early 2013 - "Kickin it Back on Earth"
		<%= audio_tag("Kickin it Back on Earth.ogg", "audio_backup.mp3", controls: true, preload: "metadata", autobuffer: true ) %>
	</p>
	<p>	
		lmms / early 2013 - "Koh Samet"
		<%= audio_tag("Koh Samet.ogg", "audio_backup.mp3", controls: true, preload: "metadata", autobuffer: true ) %>
	</p>	
	<p>	
		lmms / early 2013 - "The Struggle and the Growth"
		<%= audio_tag("The Struggle and the Growth.ogg", "audio_backup.mp3", controls: true, preload: "metadata", autobuffer: true ) %>
	</p>
	<p>	
		lmms / early 2013 - "Off 8"
		<%= audio_tag("Off 8.ogg", "audio_backup.mp3", controls: true, preload: "metadata", autobuffer: true ) %>
	</p>
	<p>
		ipad / 2012 - "Bass Candy"
		<%= audio_tag("Bass Candy.ogg", "audio_backup.mp3", controls: true, preload: "metadata", autobuffer: true ) %>
	</p>
</div>
