<div id="music" class="stagers">
	<h2>Musical Tidbits</h2>			
	<p>
		"Meditation Alarm"
		<%= audio_tag("Meditation Alarm.mp3", "audio_backup.mp3", controls: true, preload: "metadata", autobuffer: true ) %>
	</p>
	<p>
		"The Jolly Space Man"
		<%= audio_tag("The Jolly Space Man.mp3", "audio_backup.mp3", controls: true, preload: "metadata", autobuffer: true ) %>
	</p>
	<p>
		"A Study on Bells"
		<%= audio_tag("A Study on Bells.mp3", "audio_backup.mp3", controls: true, preload: "metadata", autobuffer: true ) %>
	</p>
	<p>	
		"Kickin it Back on Earth"
		<%= audio_tag("Kickin it Back on Earth.mp3", "audio_backup.mp3", controls: true, preload: "metadata", autobuffer: true ) %>
	</p>
	<p>	
		"Koh Samet"
		<%= audio_tag("Koh Samet.mp3", "audio_backup.mp3", controls: true, preload: "metadata", autobuffer: true ) %>
	</p>	
	<p>	
		"The Struggle and the Growth"
		<%= audio_tag("The Struggle and the Growth.mp3", "audio_backup.mp3", controls: true, preload: "metadata", autobuffer: true ) %>
	</p>
	<p>	
		"Off 8"
		<%= audio_tag("Off 8.mp3", "audio_backup.mp3", controls: true, preload: "metadata", autobuffer: true ) %>
	</p>
	<p>
		"Bass Candy"
		<%= audio_tag("Bass Candy.mp3", "audio_backup.mp3", controls: true, preload: "metadata", autobuffer: true ) %>
	</p>
</div>
