<div id="program" class="stagers">
	<h2>Computer Language</h2>
	<div class="new_table">
		<%= link_to "https://github.com/Aaronik/netsec/blob/master/ap" do %><div>ap</div><% end %>
	</div>
	<div class="new_table">
		<%= link_to "https://github.com/Aaronik/netsec/blob/master/sm" do %><div>sm</div><% end %>
	</div>
	<div class="new_table">
		<%= link_to "https://github.com/Aaronik/netsec/blob/master/darp" do %><div>darp</div><% end %>
	</div>
	<div class="new_table">
		<%= link_to "https://github.com/Aaronik/netsec/blob/master/dict" do %><div>dict</div><% end %>
	</div>
	<div class="new_table">
		<%= link_to "https://github.com/Aaronik/netsec/blob/master/ips" do %><div>ips</div><% end %>
	</div>
	<div class="new_table">
		<%= link_to "https://github.com/Aaronik/netsec/blob/master/kn" do %><div>kn</div><% end %>
	</div>
	<div class="new_table">
		<%= link_to "https://github.com/Aaronik/netsec/blob/master/trix" do %><div>trix</div><% end %>
	</div>
	<div class="new_table">
		<%= link_to "https://github.com/Aaronik/netsec/blob/master/webscan" do %><div>webscan</div><% end %>
	</div>
	<div class="new_table">
		<%= link_to "https://github.com/Aaronik/netsec/blob/master/webscano" do %><div>webscano</div><% end %>
	</div>
</div>
