<div id="web" class="stagers">
	<h2>My History of Web Design</h2>	

	<div class="new_table">
		<%= link_to "http://www.aaronik.com/home.html" do %><div>Home 1</div><% end %>
		<%= link_to "http://www.aaronik.com/home2.html" do %><div>Home 2</div><% end %>
	</div>

	<div class="new_table">
		<%= link_to "http://www.aaronik.com/index1.html" do %><div>The Beginning</div><% end %>
	</div>

	<div class="new_table">
		<%= link_to "http://www.aaronik.com/index2.html" do %><div>Middle(ish)</div><% end %>
	</div>

	<div class="new_table">
		<%= link_to "http://www.aaronik.com/index3.html" do %><div>Button Notes</div><% end %>
	</div>

	<div class="new_table">
		<%= link_to "http://www.aaronik.com/jindex.html" do %><div>A JS Page</div><% end %>
		<%= link_to "http://www.aaronik.com/jindex2.html" do %><div>A JS Page 2</div><% end %>
	</div>

</div>
