<div id="what" class="stagers">
<h2>About Me</h2>
<div><%= image_tag("Me.jpg") %></div>
<%= link_to ("https://www.facebook.com/aaronik.usa") do %><%= image_tag("facebook.png") %><% end %>
<%= link_to ("http://www.linkedin.com/profile/view?id=43837886") do %><%= image_tag("linkedin.png") %><% end %>
<%= image_tag("resume.png", id: "resume_image") %>
<p><%= link_to("AaSullivan1618@gmail.com", "mailto:AaSullivan1618@gmail.com") %></p>
</div>
