<!DOCTYPE html>
<html>
<head>
  <title>AaronikCom</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<%= render 'layouts/business' %>
<%= render 'layouts/music' %>
<%= render 'layouts/philosophy' %>
<%= render 'layouts/program' %>
<%= render 'layouts/web' %>

</body>
</html>
